@font-face {
  font-family: "iconfont"; /* Project id 3581426 */
  src: url('iconfont.woff2?t=1663555225091') format('woff2'),
       url('iconfont.woff?t=1663555225091') format('woff'),
       url('iconfont.ttf?t=1663555225091') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-jinggao:before {
  content: "\e602";
}

.icon-2:before {
  content: "\e603";
}

.icon-jinggao1:before {
  content: "\e642";
}

.icon-circle:before {
  content: "\e64f";
}

.icon-zhankai-:before {
  content: "\e648";
}

.icon-fangdajing:before {
  content: "\e610";
}

.icon-chakan:before {
  content: "\e63b";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-xiangxia:before {
  content: "\e600";
}

